Market Trend Discovery Agent.json
{
  "name": "Market Trend Discovery Agent",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        0,
        0
      ],
      "id": "fff06974-842a-4ec4-9603-0bcc95244ff9",
      "name": "When chat message received",
      "webhookId": "0a141a2d-f4c4-4090-b265-b5d38afdca65"
    },
    {
      "parameters": {
        "options": {
          "systemMessage": "You are a user intent classification specialist.\n\nYour task: Determine if the user's input relates to rugs trends.\n\nClassification Rules:\nOutput {\"trend\": \"yes\"} if the user:\n• Mentions product trends, trending topics, or market trends\n• Shares URLs from e-commerce platforms (Amazon, Walmart) suggesting trending items\n• Asks about what's popular, trending, or gaining traction\nOutput {\"trend\": \"no\"} if the user:\n• Asks general questions unrelated to trends\n• Shares content without trend indicators\n\nResponse Format:\nReturn ONLY valid JSON with no additional text or explanation\nBase classification strictly on the provided input—do not infer beyond what's explicitly stated\nAnalyze both direct mentions and contextual signals (URLs, keywords, phrasing)"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "994cef22-9b3c-43d9-b17c-aeab6cc16eda",
      "name": "Find User Intent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        80,
        208
      ],
      "id": "d03f3dee-2a4d-4cf7-a481-64d4c2b94afc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "BrPxzPMz9mIx9LjM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        224,
        208
      ],
      "id": "40ab95c4-9175-4b26-906a-b110101a2464",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "6333b73f-bca9-425b-804c-1b2b8987e046",
              "leftValue": "={{ $json.trend }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "0307f1fe-bba5-4d2f-973f-b98cc962a15d",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "// Input example:\n// [\n//   {\n//     \"output\": \"```json\\n{\\n  \\\"trend\\\": \\\"no\\\",\\n  \\\"answer\\\": \\\"Hello! How can I help you today?\\\"\\n}\\n```\"\n//   },\n//   {\n//     \"output\": \"```json\\n{\\n  \\\"trend\\\": \\\"yes\\\"\\n}\\n```\"\n//   }\n// ]\n\nreturn items.map(item => {\n  let raw = item.json.output;\n\n  // Remove markdown formatting like ```json ... ```\n  raw = raw.replace(/```json|```/g, \"\").trim();\n\n  let parsed;\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    parsed = { trend: \"no\", answer: \"Parsing error\" };\n  }\n\n  return {\n    json: parsed\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        0
      ],
      "id": "ef5d4352-067e-483c-9d79-281765997def",
      "name": "Code2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('When chat message received').item.json.chatInput }}\n",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        944,
        240
      ],
      "id": "f07e4792-390b-407f-92b1-932f368e6ffc",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        864,
        496
      ],
      "id": "cf3a7d5d-dcf6-4fc7-a4ae-b0cd9b5e5cfb",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "BrPxzPMz9mIx9LjM",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 4
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1376,
        -352
      ],
      "id": "f0b2b8d4-e8d2-46ab-b8ca-4de0ddf379ca",
      "name": "Merge – RSS Feeds"
    },
    {
      "parameters": {
        "fieldToSplitOut": "title, link, pubDate, content, contentSnippet, isoDate",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1584,
        -352
      ],
      "id": "848461af-5469-46a7-8365-b0e14ef24c72",
      "name": "Split – RSS Fields"
    },
    {
      "parameters": {
        "jsCode": "const output = [];\nconst now = new Date();\nconst twoDaysAgo = new Date();\ntwoDaysAgo.setDate(now.getDate() - 7); // only include last 7 days\n\nfor (const item of $input.all()) {\n  const isoDate = new Date(item.json.isoDate);\n  if (isoDate >= twoDaysAgo && isoDate <= now) {\n    output.push(item);\n  }\n}\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        -352
      ],
      "id": "a478646c-506c-462d-8d22-38baa95b3271",
      "name": "Filter – Recent Items"
    },
    {
      "parameters": {
        "url": "https://theruggist.com/feed",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1136,
        -528
      ],
      "id": "0ec447c7-4c17-42d0-991c-b165d8a62ae6",
      "name": "The Ruggist"
    },
    {
      "parameters": {
        "url": "https://www.housebeautiful.com/rss/all.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1136,
        -368
      ],
      "id": "ad93becf-2d87-4aee-9722-4c1241ded077",
      "name": "House Beautiful"
    },
    {
      "parameters": {
        "url": "https://design-milk.com/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1136,
        -208
      ],
      "id": "7ae73b17-4217-4b0b-a98e-6407c8f7cd3f",
      "name": "Design Milk"
    },
    {
      "parameters": {
        "url": "https://www.dezeen.com/interiors/feed/",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        1136,
        -80
      ],
      "id": "850ccf4e-2860-44f6-bc58-3df75893df11",
      "name": "Dezeen Interiors"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Find User Intent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Find User Intent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Find User Intent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Find User Intent": {
      "main": [
        [
          {
            "node": "Code2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "The Ruggist",
            "type": "main",
            "index": 0
          },
          {
            "node": "House Beautiful",
            "type": "main",
            "index": 0
          },
          {
            "node": "Design Milk",
            "type": "main",
            "index": 0
          },
          {
            "node": "Dezeen Interiors",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge – RSS Feeds": {
      "main": [
        [
          {
            "node": "Split – RSS Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split – RSS Fields": {
      "main": [
        [
          {
            "node": "Filter – Recent Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "The Ruggist": {
      "main": [
        [
          {
            "node": "Merge – RSS Feeds",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "House Beautiful": {
      "main": [
        [
          {
            "node": "Merge – RSS Feeds",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Design Milk": {
      "main": [
        [
          {
            "node": "Merge – RSS Feeds",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Dezeen Interiors": {
      "main": [
        [
          {
            "node": "Merge – RSS Feeds",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "94916beb-362a-48ca-9007-b3108ceb33ca",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1c758cb70f28b314394945bcb5a59d0a666957b7f2b36a41a73a99c5504a4443"
  },
  "id": "YS9X9EWXBuBeyGyW",
  "tags": []
}